# virtual envs
.heat_diffusion/
.istarc_hd/
.starfysh_env/

# big data
data/*.h5ad
data/*.npy
data/mouse_brain_visium_hd.sdata.zarr/
data/**/*.zarr
sata/heat_diffused_data/
data/mouse_brain_visium_hd.sdata.zarr/
.ipynb_checkpoints/ 

results

istar